<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/../styles.css">
  
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Easy eats</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="About.html">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a href="/../index.html" class="btn btn-danger">Back</a>
      <h3 class="text-center flex-grow-1">Banana Oatmeal Pancakes</h3>
    </div>    
    <div class="card-body">
      <div class="text-center">
        <img src="/../images/banana.jpg" class="card-img-top small-image" alt="banana oatmeal photo">
      </div>
      
      <table class="table table-bordered mt-3 table-hover table-responsive table-dark table-striped text-center w-75 mx-auto">
        <thead>
          <tr>
            <th>Ingredients</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ripe banana</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Rolled oats</td>
            <td>1/2 cup</td>
          </tr>
          <tr>
            <td>Eggs</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Baking powder</td>
            <td>1/4 teaspoon</td>
          </tr>
          <tr>
            <td>Cinnamon</td>
            <td>1/4 teaspoon</td>
          </tr>
          <tr>
            <td>Vanilla extract</td>
            <td>1/4 teaspoon</td>
          </tr>
          <tr>
            <td>Oil or butter</td>
            <td>1 teaspoon</td>
          </tr>
        </tbody>
      </table>

      <div class="card">
        <div class="card-header">
          <h5>Directions:</h5>
        </div>
        <div class="card-body">

          <ol type="1">
            <li>Mash the banana in a mixing bowl.</li>
            <li>Add in the oats, eggs, baking powder, cinnamon, and vanilla extract. Mix well until the batter is smooth.</li>
            <li>Heat oil or butter in a non-stick pan over medium heat.</li>
            <li>Spoon the batter onto the pan, using about 1/4 cup for each pancake.</li>
            <li>Cook until bubbles form on the surface, then flip and cook for another minute or until golden brown.</li>
            <li>Serve warm with maple syrup or fresh fruit.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>